doctype html
html()
	//- Head
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="x-ua-compatible", content="ie=edge")

		title Frontend

		link(rel="stylesheet", href="/stylesheets/main.css")

	//- Body
	body(style="width:100%; height:100%; position:relative")
		//- Content
		block content


		//- Scripts
		script(src="/javascripts/app.js")
